.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
  border-radius: 5px;
  background-color: #222; /* Darker background */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
  box-sizing: border-box; 
}

h2 {
  text-align: center;
  color: #ddd; /* Lighter text */
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  font-size: 1.1em;
  margin-bottom: 5px;
  color: #ddd; /* Lighter text */
}

input {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #aaa; /* Lighter border */
  border-radius: 5px;
  outline: none;
  width: 100%;
  box-sizing: border-box; 
  background-color: #333; /* Darker input background */
  color: #ddd; /* Lighter text */
}

input:focus {
  border-color: #42b983;
}

.form-btn {
  margin-top: 20px;
  padding: 10px;
  background-color: #aaa; /* Lighter button */
  color: #222; /* Darker text */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1em;
  transition: all 0.3s ease-in-out;
  width: 100%;
  box-sizing: border-box;
}

.form-btn:disabled {
  background-color: #bbb;
  cursor: not-allowed;
}

.form-btn:hover:not(:disabled) {
  background-color: #42b983;
}

.success-message,
.error-message {
  color: #3c763d;
  background-color: #4a4a4a; /* Darker background */
  border-color: #d6e9c6;
  padding: 15px;
  margin-top: 20px;
  border-radius: 4px;
  width: 100%;
  text-align: center;
  box-sizing: border-box; 
}

.error-message {
  color: #a94442;
  background-color: #4a4a4a; /* Darker background */
  border-color: #ebccd1;
}
